.container-slider{
    margin: 19px 0 263px 5px;
}
.content-slider{
    display: flex;
    justify-content: space-between;
    background: #fff;
}
.slider-border, .slider-border3{
    margin: 2px 0 0 0;
    width: 0px;
    height: 396.01px;
    border: 1px solid #C4C4C4;
    transform: rotate(-0.1deg);
}
.slider-article, .slider-article4{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;   
}

.slider-banner1{
    max-width: 324px;
    height: 260px;
    border-radius: 15px;
}
.slider-banner2, .slider-banner4{
    max-width: 315px;
    height: 260px;
    border-radius: 15px;
}
.slider-banner3{
    max-width: 325px;
    height: 260px;
    border-radius: 15px;
}
.link-slider, .link-slider3{
    max-width: 277px;
    margin-left: 10px;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 115.8%;
    color: #000000;
}
.data-slider{
    max-width: 113px;
    height: 15px;
    margin: 18px 0 8px 8px;
    font-family: Geometria;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 109.2%;
    color: #4A4A4A;
}
.slider-border-ipad{
    display: none;
}
.slider-p{
    display: none;
}

@media screen and (max-width: 1024px){
    .container-slider{
        margin: 63px 0 23px 0;
    }
    .slider-banner1, 
    .slider-banner2, 
    .slider-banner3{
        max-width: 310px;
    }
    .slider-border3{
        display: none;
    }
    .slider-border-ipad{
        display: none;
    }
    .slider-article4{
        display: none;
    }
    .data-slider{
        margin: 18px 0 0 22px;
    }
    .link-slider{
        max-width: 266px;
        margin: 36px 0 0 20px;
    }
    .link-slider3{
        max-width: 266px;
        margin: 14px 0 0 20px;
    }
    .slider-p{
        display: flex;
        max-width: 258px;
        margin-top: 11px;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 124.8%;
        color: #000000;
    }
    .slider-border, .slider-border3{
        margin: 2px 0 0 0;
        height: 497px; 
    }

    .ipad-marketing{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 958px;
        height: 114px;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
    }
    .ipad-marketing-link{
        display: block;
        text-transform: uppercase;
        font-family: Proxima Nova;
        font-style: normal;
        font-weight: 250;
        font-size: 50px;
        line-height: 115.8%;
        letter-spacing: 0.54em;
        color: #C4C4C4;
    }
}